@import '../../variables';
@import '../../mixins';

.project {
  border: none;
  border-radius: $border-radius-primary;
  box-shadow: $main-box-shadow;
  padding: 0;
  transition: $transition;
  &:hover, &:active, &:focus {
    transform: translateY(-10px)
  }
}
.project-name {
  font-size: 22px;
  font-weight: bold;
}
.project-img-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-skills {
  background-color: $color-bg;
  .skills-list {
    display: flex; 
    gap: 7px;
    flex-wrap: wrap;
    text-transform: none;
    span {
      font-size: 15px;
      letter-spacing: -0.5px;
      background-color: $color-white;
      box-shadow: $second-box-shadow;
      @include radius-style;
      padding: 5px 8px; 
    }
  }
  .project-Details {
    text-align: start;
    margin-top: 10px;
    font-weight: bold;
    p {
      margin-bottom: 0;
      span {
        font-weight: normal;
      }
    }
  }
}
.project-btns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


/* ========================= Media Query ========================= */
@media (max-width: 415px) {
  .project-name {
    font-size: 24px;
  }
  .project-skills {
    h5 {
      font-size: 1.25rem;
    }
    span {
      font-size: 14px;
    }
  }
  .project-btns {
    gap: 15px;
  }
}
