@import '../../variables';
@import '../../mixins';

.project {
  border: none;
  border-radius: $border-radius-primary;
  box-shadow: $main-box-shadow;
  padding: 0;
  transition: $transition;
  &:hover, &:active, &:focus {
    transform: translateY(-10px)
  }
}
.project-name {
  font-family: 'ProstoOne';
  font-size: 24px;
  font-weight: bold;
  background-color: $color-bg;
}
.project-img-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-img {
  box-shadow: $second-box-shadow;
  transition: $transition;
}
.project-skills {
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h5 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .skills-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    span {
      font-size: 15px;
      letter-spacing: -0.5px;
      background-color: $color-white;
      box-shadow: $second-box-shadow;
      @include radius-style;
      padding: 5px 8px; 
    }
  }
}
.project-btns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


/* ========================= Media Query ========================= */
@media (max-width: 415px) {
  .project-name {
    font-size: 24px;
  }
  .project-skills {
    h5 {
      font-size: 1.25rem;
    }
    span {
      font-size: 14px;
    }
  }
  .project-btns {
    gap: 15px;
  }
}
