/* ===================================== */

// $main-color: #2F1C6A;
// $main-color: #303179;
$main-color: #141850;

$color-bg: #f6fbff;
$color-white: #fff;
$color-black: #000;
$color-mute: rgba(0, 0, 0, 0.6);
$load-color: #5e1916;

$github: #171515;
$twitter: #1DA1F2;
$linkedIn: #0072b1;
$facebook: #3b5998;
$instagram: #bc2a8d;

$html: #f06529;
$css: #2965f1;
$javascript: #f7df1e;
$sass: #CD6799;
$bootstrap: #563d7c;
$webpack: #1c78c0;
$react: #61dafb;

$main-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$second-box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
$projectImg-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

$main-font-size: 18px;

$main-padding: 0.5rem 1.5rem;

$border-radius-primary: 10px;
$border-radius-secondary: calc($border-radius-primary * 2);
$border-circle: 50%;

$transition: all 0.3s ease-in-out;


